* {
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  padding: 50px;
}

.cointainer{
  border: 10px solid black;
  display: flex;
  
}

#avatar{
  width: 200px;
  height: 200px;
  border-radius: 100px;

}