body {
  margin: 0;
  font-family: "Cinzel", serif;
 }

footer {
  background-color: #37353e;
  color: #fff;
  padding: 40px 60px 20px;
}

footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 992px) {
  footer .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  footer .footer-container {
    grid-template-columns: 1fr;
  }
}

footer h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul li a {
  color: #b5d8e6;
  text-decoration: none;
  transition: color 0.2s;
}

footer ul li a:hover {
  color: #ffcc00;
}

.highlight {
  color: #ffcc00;
  font-weight: bold;
}

.footer-bottom {
  border-top: 1px solid #336673;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 13px;
  text-align: center;
  color: #b5d8e6;
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.payment-methods img {
  height: 35px;
  margin-right: 10px;
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
