/*Products styles*/
.Product_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  margin: 1rem 0; /* Adjusted margin */
}
.btn-add {
  background-color: #007bff;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}



.product-table img {
  max-width: 50px;
  height: auto;
  border-radius: 4px;
}

.status-visible {
  color: #28a745;
  font-weight: bold;
}

.status-hidden {
  color: #dc3545;
  font-weight: bold;
}

.action-buttons button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-edit {
  background-color: #ffc107;
}

.btn-toggle-status {
  background-color: #17a2b8;
  color: white;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.pagination_container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination-item {
  margin: 0;
}

.pagination-item a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #333;
  background-color: white;
  border-right: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.pagination-item:last-child a {
  border-right: none;
}

.pagination-item a:hover,
.pagination-item.active a {
  background-color: #007bff;
  color: white;
}

.pagination-item.active a {
  font-weight: bold;
  cursor: default;
}
